*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(201, 201, 238);
}

.genius-star{
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.theGame{
    background-color: rgb(43, 43, 43);
    display: grid;
    grid-template-areas: 'VERDE VERMELHO'
    'AMARELO AZUL';
    row-gap: 10px;
    column-gap: 10px;
    border: 1px solid #ffffff;
    height: 550px;
    width: 550px;
    border-radius: 100%;
    margin-top: 4em;
}

.green{
    grid-area: VERDE;
    background-color: green;
    border-top-left-radius: 100%;
}

.red{
    grid-area: VERMELHO;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow{
    grid-area: AMARELO;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.blue{
    grid-area: AZUL;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.interactive{
    opacity: 0.3;
}